# postgres password
pg/
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Django
*.log
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.mo
*.po

# Env
.env
.env.*

# Migrations
*.log
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.mo
*.po
**/migrations/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyCharm
.idea/